<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Portal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/chat.css">
    <link rel="stylesheet" href="../../css/button.css">

    <script>
        const ws = new WebSocket("ws://localhost:8080")

        ws.onopen = function() {
            console.log("Websocket is connected...")
            ws.send(JSON.stringify({
                room: "",
                message: "Guest connected"
            }));
        }

        ws.onmessage = function (event) {
            console.log(event);
            addTextMessage(JSON.parse(event.data));
        }

        function sendMyMessage() {
            let room = document.querySelector("#room").value;
            let newMessage = document.querySelector("#newMessage").value;

            let message = {
                room: room,
                message: newMessage
            }

            ws.send(JSON.stringify(message));
        }

        function addTextMessage(message) {
            let tag = document.createElement("p");
            let text = document.createTextNode(message.message);
            tag.appendChild(text);
            let messageContainer = document.querySelector("#messages");
            messageContainer.appendChild(tag);
        }

        function join(){
            let room = document.querySelector("#room").value;
            ws.send(JSON.stringify({joinRoom: room}));
        }

    </script>
</head>
<body>
    <div id="abc">
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="container">
    <div class="textContainer">
        <h2>Chat view</h2>
<button onclick="join()">Join Room</button>
 <input id="room" type="text">
        <div id="messages"></div>
        <input id="newMessage" type="text">
        <button onclick="sendMyMessage()">Send</button>
    </div>
</div>

</body>
</html>