<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>TERRA NOVA</title>
</head>
<body>
<header></header>
<div class="BG">
    <div id="abc">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/destinations">DESTINATIONS</a></li>
                <li><a href="/register">REGISTER</a></li>
            </ul>
        </nav>
        <div id="title">
        <h1>TERRA NOVA</h1>
        <h2>Travel light and above.</h2>
        </div>
        <div class="parentElement">
            <a class="btn btn-default btn-work" href="/login">LOGIN</a>
        </div>
    </div>
</div>
</body>
</html>