<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Portal</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/button.css">
</head>
<body>
<div class="container">
    <div class="backgroundBox">
        <div class="header">
            <p>Welcome to our</p>
            FLOWER PORTAL
        </div>

        <a class="button btn btn-white" href="http://localhost:3000/destinations">
            VIEW FLOWERS
        </a>
    </div>
    <div class="aboutBox">
        <h3>ABOUT US</h3> <br/>
        <p class="text">We are students of Creative Computing at the University of Applied Sciences of St.Pölten.
            This is our portal dedicated to the beauty of flowers, nature and Earth. We want to see a world full of
            colors and happiness. You will have access to the flowers names, latin names, origins and best seasons. We hope you
            enjoy your visit to our portal.</p> <br/>
        <h4> Vanessa, Salóme, Juliana.</h4>
    </div>
    <img class="bottomImage" alt="group photo" src="../images/group.jpg"/>
</div>

</body>
</html>