<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Terra Nova</title>
</head>
<body>
<header></header>
<div class="BG">
    <div id="abc">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/destinations">DESTINATIONS</a></li>
                <li><a href="/">CONTACT</a></li>
            </ul>
        </nav>
    </div>
<!--    <form action="http://localhost:3000/register" method="post">-->
<!--        <button id="signButton" type="submit" value="Send data">SIGN UP</button>-->
<!--    </form>-->
    <a id="signButton" href="/register" style="text-decoration: none">SIGN UP</a>
</div>
<!--<div id="low">-->
<!--    <h1>Choose a Destination</h1> <br>-->
<!--    <p>Here you will be able to view the three options of territories you can choose from. They all vary from landscapes to alien population. So be aware that your choice is very important to your everyday life since you can only move territories after one year. Please take a close look at the destinations bellow and make a final choice. </p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="choiceOne">-->
<!--        <button> <a href="/ciri" style="text-decoration: none">VIEW</a></button>-->
<!--    </div>-->
<!--    <div class="choiceTwo">-->
<!--        <button> <a href="/ld" style="text-decoration: none">VIEW</a></button>-->
<!--        ></div>-->
<!--    <div class="choiceThree">-->
<!--        <button> <a href="/muan" style="text-decoration: none">VIEW</a></button></div>-->
<!--</div>-->

</body>
</html>