<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terra Nova</title>
    <link rel="stylesheet" href="../../css/register.css">
</head>
<body>
<div class="box glowing">
<div class="container">
    <div class="textContainer">
        <form action="../register" method="post">
            <br>
            <h1>REGISTER</h1>
            <p>Please provide the following information to create new account. Already a Member ?
                <a href="/login" style="text-decoration: none;">Log in.</a></p> <br>
            <div><label> Full name : </label><input type="text" name="name">  </div>
            <div><label> Martian code : </label><input type="text" name="code"> </div>
            <div><label> Password : </label><input type="text" name="password"> </div>
            <div><label> Species : </label><input type="text" name="name">  </div>
            <div><label> Origin Planet : </label><input type="text" name="code"> </div>
            <button type="submit" > REGISTER </button>
        </form>
    </div>
</div>
</div>
</body>
</html>