<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/user.css">
    <title>Terra Nova</title>
</head>
<body>
<header></header>
    <div id="abc">
        <nav>
            <ul>
                <li><a href="/index">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="container">
    <div class="card">
        <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
        <p class="userCode">Martian Code : <%= user.code %></p>
        <div class="grid-container">
            <p class="userName"> Name : <%= user.name %></p>
            <p> Species : <%= user.species %>
            <p> Origin : <%= user.origin %>

        </div>
        <button><a href="/destination" style="text-decoration: none;">CHOOSE A DESTINATION</a></button> <br>
    </div>
</div>
</body>
</html>