<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/user.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <title>TERRA NOVA</title>
</head>
<body>
<!-- Navbar -->
<header>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/destinations">DESTINATIONS</a></li>
            <li><a href="#">ABOUT</a></li>
        </ul>
    </nav>
</header>v>
</div>
<div class="id-card-wrapper">
    <div class="id-card">
        <div class="profile-row">
            <div class="dp">
                <div class="dp-arc-outer"></div>
                <div class="dp-arc-inner"></div>
                <img src="../images/userBG.png">
            </div>
            <div class="desc">
                <h1 ><%= user.name %></h1>
                <p > Usercode: <%= user.code %></p>
                <p > Species: <%= user.species %></p>
                <p > Origin Planet: <%= user.origin %></p>
                <div class="parentElement">
                    <a class="btn btn-default btn-work" href="/destinations">SELECT DESTINATION</a>
                    <a class="btn btn-default btn-work" href="/logout">LOGOUT</a>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>