@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900&display=swap');

* {
    box-sizing: border-box;
    text-content: center;
}

html, body {
    height: 100%;


}

p {

}


.container {
    display: flex;
    align-content: center;
    font-size: 45px;
    text-align: center;
    margin: 300px;
    background-attachment: fixed;
}

.flex-item-left {
    background-color: #f1f1f1;
}

.flex-item-right {
    background-color: dodgerblue;
}


.container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {
    .container {
        flex-direction: column;
        margin: 50px;
    }
}

.row {
    margin-bottom: 20px;
}

img {
    opacity: 0.6;
}


.tray {
    margin: 0 0 10px;
    border: 2px solid #BA87FF;
    padding: 10px 12px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 3px;
    font-size: 30px;
    font-weight: 800;
    transition: .2s ease-in;
}

.text-green {
    color: #ABF0F9;

}

.text-purple {
    color: #A947DD;


}

.pink-line {
    display: inline-block;
    height: 7px;
    background: #D249EB;
    min-height: 100%;
}

p {
    margin: 0 0 10px;
    color: #9F35CB;
    font-size: 15px;
}

span {
    font-size: 20px;
    margin-bottom: 10px;
}

i {
    position: absolute;


}

