@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Koulen&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@500;600;700;800;900&family=Orelega+One&family=Quicksand:wght@300;400;500;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,800;1,900&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    margin: auto;
}

html {
    background-image: linear-gradient(#000000, #200453);

}

/*img {*/
/*    margin-top: 110px;*/
/*}*/

/*product info */

.title {
    color: yellow;
    font-weight: 900;
}


h1 {
    color: #FF41E0;
    font-weight: 500;
    font-size: 45px;
    display: inline-block;
    margin-bottom: 10px;
}

i.fa.fa-search {
    margin-left: 90px;
}

.product-name i {
    color: #ffffff;
    transition: 0.3s all ease;
    margin: 0px 12px;
}

.product-name i:hover {
    color: #ff39ce;
    cursor: pointer;
}

h3 {
    color: #FF41E0;
    padding: 2px;
    font-size: 40px;
    font-weight: 500;
}

h2 {
    color: #ffffff;
    font-weight: 800;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
}

h4 {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
}

h4.dis {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    margin-left: 30px;
    text-decoration: line-through #ea3201;
}

h4.dis span {
    text-decoration: line-through #ea3201;
}


.left i:hover {
    cursor: pointer;
    color: #2a2f40;
}

/*main card*/

.card {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.details {

    margin: 0;
}
.left {
    content: "";
    height: auto;
    width: auto;
    border-radius: 0% 50% 50% 0%;
    z-index: 5;
}

.right {
    content: "";
    max-width: 500px;
    max-height: 395px;
    width: 550px;
    z-index: 3;
    padding: 50px;
    }

/*!* Responsive layout - makes a one column layout instead of a two-column layout *!*/
/*@media (max-width: 800px) {*/
/*    .right, .left {*/
/*        flex: 100%;*/
/*    }*/
/*}*/

/*.product-info {*/
/*    position: absolute;*/
/*    margin-left: 245px;*/
/*    height: 394px;*/
/*    width: 305px;*/
/*    z-index: 10;*/
/*    font-size: 20px;*/

/*}*/


p {
    color: white;
    padding-top: 25px;
    padding-bottom: 100px;

}
.plus {
    margin: 100px;
    text-align: center;
}


div.parentElement{text-align: center;}

.btn-work {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background-color: #ad27ad;
}

#humanPop {
    margin-top: 30px;
}

#container {
    display: flex;
    overflow: hidden;
}

img {
    width: 250px;
    height: 350px;
}

#planetImage {
    width:400px;
    height: 400px;
    padding: 30px;
}


/*photobanner*/

.photobanner {
    align-content: center;
    max-height: 350px;

}

#container {
    background-color: transparent;
    margin: 100px 12% 0 12%;

}

/*keyframe animations*/
.first {

    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
}



@keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -1500px;
    }

}


@-webkit-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -1500px;
    }

}


@media (max-width: 600px) {
.card  {
    flex-direction: column;
}
    img {
        width: 240px;
        height: 350px;
    }

    .photobanner {
        align-content: center;
        max-height: 350px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
   p {
       font-size: 15px;
   }
}