@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Koulen&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@500;600;700;800;900&family=Orelega+One&family=Quicksand:wght@300;400;500;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,800;1,900&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    margin: auto;
}

html {
    background-image: linear-gradient(#000000, #200453);

}


.title {
    color: yellow;
    font-weight: 900;
}

#photoBanner {
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: -80px;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-color: #90f1ef;
}
div.item:nth-of-type(2) {
    --offset: 2;
    background-color: #ff70a6;
}
div.item:nth-of-type(3) {
    --offset: 3;
    background-color: #ff9770;
}
div.item:nth-of-type(4) {
    --offset: 4;
    background-color: #ffd670;
}
div.item:nth-of-type(5) {
    --offset: 5;
    background-color: #e9ff70;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}



h1 {
    color: #FF41E0;
    font-weight: 500;
    font-size: 45px;
    display: inline-block;
    margin-bottom: 10px;
}

i.fa.fa-search {
    margin-left: 90px;
}

.product-name i {
    color: #ffffff;
    transition: 0.3s all ease;
    margin: 0px 12px;
}

.product-name i:hover {
    color: #ff39ce;
    cursor: pointer;
}

h3 {
    color: #FF41E0;
    padding: 2px;
    font-size: 40px;
    font-weight: 500;
}

h2 {
    color: #ffffff;
    font-weight: 800;
    font-size: 30px;
    font-weight: 200;
}

h4 {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
}

h4.dis {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    margin-left: 30px;
    text-decoration: line-through #ea3201;
}

h4.dis span {
    text-decoration: line-through #ea3201;
}


.left i:hover {
    cursor: pointer;
    color: #2a2f40;
}

/*main card*/

.card {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.details {

    margin: 0;
}
.left {
    content: "";
    height: auto;
    width: auto;
    border-radius: 0% 50% 50% 0%;
    z-index: 5;
}

.right {
    margin-bottom: 50px;
    content: "";
    max-width: 500px;
    max-height: 395px;
    z-index: 3;
    padding: 50px;
    }



p {
    color: white;
    padding-top: 25px;
    padding-bottom: 100px;

}
.plus {
    margin: 100px;
    text-align: center;
}

div.parentElement{
    text-align: center;
    margin-bottom: 30px;
    margin-top: -150px;
}

.btn-work {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    background-color: #ad27ad;
    color: white;
    font-size: 15px;
}

#humanPop {
    margin-top: 30px;
}


#planetImage {
    width:400px;
    height: 400px;
    padding: 30px;
}

img {
    width:300px;
    height:400px;
}



@media (max-width: 700px) {
    * {
        align-items: center;
    }
.card  {
    flex-direction: column;
}




    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }
   p {
       font-size: 15px;
   }
   #planetImage {
       width: 250px;
       height: 250px;
       margin-bottom: -40px;
   }

    div.parentElement{
        text-align: center;
        margin-bottom: 30px;
        margin-top: -150px;
    }
    .btn-work {
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        background-color: #ad27ad;
        color: white;
        font-size: 15px;
    }

}