@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Koulen&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@500;600;700;800;900&family=Orelega+One&family=Quicksand:wght@300;400;500;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,800;1,900&family=Righteous&display=swap');

/*reset*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;

}

body {
    margin: auto;
}

html {
    background-image: linear-gradient(#000000, #200453);

}

img {
    margin-top: 110px;
}

/*product info */

.title {
    color: yellow;
    font-weight: 900;
}


h1 {
    color: #FF41E0;
    font-weight: 500;
    font-size: 45px;
    display: inline-block;
    margin-bottom: 10px;
}

i.fa.fa-search {
    margin-left: 90px;
}

.product-name i {
    color: #ffffff;
    transition: 0.3s all ease;
    margin: 0px 12px;
}

.product-name i:hover {
    color: #ff39ce;
    cursor: pointer;
}

h3 {
    color: #FF41E0;
    padding: 2px;
    font-size: 40px;
    font-weight: 500;
}

h2 {
    color: #ffffff;
    font-weight: 800;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
}

h4 {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
}

h4.dis {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    margin-left: 30px;
    text-decoration: line-through #ea3201;
}

h4.dis span {
    text-decoration: line-through #ea3201;
}


.left i:hover {
    cursor: pointer;
    color: #2a2f40;
}

/*main card*/

.card {
    display: flex;
    align-items: center;
    height: 600px;
    width: 1000px;
    margin: 0 auto;
    padding-top: 80px;


}
.details {

    margin: 0;
}
.left {
    content: "";
    height: 395px;
    width: 330px;
    display: flex;
    align-items: center;
    margin-left: 93px;
    border-radius: 0% 50% 50% 0%;
    position: absolute;
    z-index: 5;
}

.left img {
    margin-left: -40px;
}

.right {
    content: "";
    height: 395px;
    width: 550px;
    z-index: 3;
    margin-left: 350px;
    margin-bottom: 200px;
    margin-top: 100px;
}

.product-info {
    position: absolute;
    margin-left: 245px;
    height: 394px;
    width: 305px;
    z-index: 10;
    font-size: 20px;

}

#destination {
    text-align: center;
    margin-top: 90px;
}

#abc {
    width: 100%;
    height: 10px;
    margin: 0;
    background-size: cover;
    font-size: 20px;
}
nav {
    width: 100%;
}
nav ul {
    position: relative;
    text-align: center;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}

nav {
    height: 360px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0px;
}

a {
    padding: 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li{
    padding: 10px 80px 0px 80px;
}

ul {
    padding: 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

p {
    color: white;
    padding-top: 20px;
    padding-bottom: 100px;

}
.plus {
    margin: 100px;
    text-align: center;
}

.map {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 450px;
    margin-bottom: 100px;
}

#mapText {
    margin-bottom: -80px;
}

div.parentElement{text-align: center;}

.btn-work {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background-color: #ad27ad;
}

#humanPop {
    margin-top: 30px;
}

#container {
    width: 1000px;
    overflow: hidden;
    margin: 50px auto;
    background: white;
}

/*header*/
header {
    width: 800px;
    margin: 40px auto;
}

#ld{
    display: grid;
}

img {
    width: 300px;
    height: 500px;
}

#planetImage {
    width:400px;
    height: 400px;
}


/*photobanner*/

.photobanner {
    height: 800px;
    margin: -200px;
    align-content: center;

}

#container {
    width: 1480px;
    background-color: transparent;
    margin-top: 180px;

}

/*keyframe animations*/
.first {

    -webkit-animation: bannermove 30s linear infinite;
    -moz-animation: bannermove 30s linear infinite;
    -ms-animation: bannermove 30s linear infinite;
    -o-animation: bannermove 30s linear infinite;
    animation: bannermove 30s linear infinite;
}



@keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -1250px;
    }

}



@-webkit-keyframes bannermove {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -1250px;
    }

}

footer {
    height: 80px;
}
