@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Koulen&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orelega+One&family=Quicksand:wght@300;400;500;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,800;1,900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Koulen&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&family=Orelega+One&family=Quicksand:wght@300;400;500;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,800;1,900&family=Righteous&display=swap');

  * {
    margin: 0;
    padding: 0;
      font-family: 'Orbitron', sans-serif;

}
html {
    background-image: linear-gradient(#000000, #200453);

}

body{
    color: white;
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    width: calc(100vw - 160px);
    padding: 80px;
}

.stretch {
    align-items: stretch;
}

a {
    text-decoration:none;
    color: inherit;
}

a > .card {
    display: grid;
    flex-grow: 1;
    background-image: linear-gradient(#000000, #200453);
    border: 0.5mm solid #e8adef;
    box-shadow: 0px 0px 2px #6512b9;
    min-width: 340px;
    height: 450px;
    width: 20vw;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

a > .card:hover {
    top: -10px;
}



.cardText{
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.textContainer {
    background-color: #1f1f1f;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    width: 10vw;
    flex-grow:8;
}

.textContainer p, .textContainer h3 {
    margin-top: 15px;
}



/*product info */

h1 {
    color: yellow;
    font-weight: 900;
    font-size: 40px;
    display: inline-block;
    margin-bottom: 10px;
}

i.fa.fa-search {
    margin-left: 90px;
}

.product-name i {
    color: #ffffff;
    transition: 0.3s all ease;
    margin: 0px 12px;
}

.product-name i:hover {
    color: #ff39ce;
    cursor: pointer;
}

h3 {
    color: #FF41E0;

    padding: 2px;
    font-size: 40px;
    font-weight: 500;
}

h2 {
    color: #ffffff;

    font-weight: 800;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
}

h4 {
    display: inline-block;
    color: #ffffff;

    font-weight: bold;
    font-size: 20px;
}

h4.dis {
    display: inline-block;
    color: #ffffff;

    font-weight: 400;
    font-size: 17px;
    margin-left: 30px;
    text-decoration: line-through #ea3201;
}

h4.dis span {
    text-decoration: line-through #ea3201;
}


.left i:hover {
    cursor: pointer;
    color: #2a2f40;
}

/*main card*/

.card {
    display: flex;
    align-items: center;
    margin: 0 auto;


}
.details {

    margin: 0;
}
.left {
    content: "";
    height: 395px;
    width: 330px;
    display: flex;
    align-items: center;
    margin-left: 93px;
    border-radius: 0% 50% 50% 0%;
    position: absolute;
    z-index: 5;
}

.left img {
    width: 90px;
    height: 130px;

}

.right {
    content: "";
    height: 395px;
    width: 550px;

    z-index: 3;
    margin-left: 350px;
}

.product-info {
    position: absolute;
    margin-left: 245px;
    height: 394px;
    width: 305px;
    z-index: 10;
    font-size: 20px;

}

#destination {
    text-align: center;
    margin-top: 90px;
}

#abc {
    width: 100%;
    height: 100px;
    margin: 0;
    background-size: cover;
    font-size: 20px;
}
nav {
    width: 100%;
}
nav ul {
    position: relative;
    text-align: center;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
}

nav {
    height: 200px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0px;
}

a {
    padding: 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li{
    padding: 50px 80px 0px 80px;
}

ul {
    padding: 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);

}
p {
    color: white;

}
.plus {
    margin: 100px;
    text-align: center;
}

.map {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
    height: 450px;
    margin-bottom: 100px;
}

#mapText {
    margin-bottom: -80px;
}

button {
    display: flex;
    width: 19%;
    padding: 10px;
    margin: 90px 40px 40px 600px;
    align-items:center;
    justify-content:center;
    font-size: 20px;
    color: white;
    background-color: #8000ff;
    font-weight: 330;
    text-decoration: none;
}


img {
    text-align: center;
    margin:auto;
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
}


#planetName {
    color: #ad27ad;
    font-size: 20px;
    text-align: left;
    margin: 0;

}

img {
    padding-top: 20px;
}
